<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451076085918-1qaibkrv8dmd6idgqus9830ovuifnu20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451076085918-1qaibkrv8dmd6idgqus9830ovuifnu20</string>
	<key>API_KEY</key>
	<string>AIzaSyAh_AByAbaZgg11S6Sr0G2bLOEiH3j8dUo</string>
	<key>GCM_SENDER_ID</key>
	<string>451076085918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swift.woookdev.-119ReHackathon</string>
	<key>PROJECT_ID</key>
	<string>rehackathon</string>
	<key>STORAGE_BUCKET</key>
	<string>rehackathon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451076085918:ios:b308ea9f0be7a68d</string>
	<key>DATABASE_URL</key>
	<string>https://rehackathon.firebaseio.com</string>
</dict>
</plist>